<div class="tag">
<% pf.fields_for :tags, tag do |f| %>
  <p>
    <%= f.label :name, "Tag:" %>
    <%= f.text_field :name %>
    <%= link_to_function "remove", "$(this).up('.tag').remove()" %>
  </p>
<% end %>
</div>