<div class="task">
<% pf.fields_for :tasks, task do |f| %>
  <p>
    <%= f.label :name, "Task:" %>
    <%= f.text_field :name %>
    <%= link_to_function "remove", "$(this).up('.task').remove()" %>
  </p>
<% end %>
</div>